@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="row">
    <div class="col-lg-6">
        <a asp-controller="Usuario" asp-action="Login" class="btn btn-primary btn-block">Entrar no sistema</a>
    </div>

    <div class="col-lg-6">
        <a asp-controller="Usuario" asp-action="Registrar" class="btn btn-block btn-success">Nova conta</a>
    </div>
</div>


@TempData["NomeUsuarioLogado"]